doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    
    title SW2014
    
    meta(name='description', content='A framework for easily creating beautiful presentations using the Jade templating language')
    meta(name='author', content='Hakim El Hattab & Aksel Gresvig')
    
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black-translucent')
  
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
  
    link(rel='stylesheet', href='css/reveal.min.css')
    link(rel='stylesheet', href='css/theme/default.css', id='theme')
    
    //For syntax highlighting 
    link(rel='stylesheet' href='lib/css/zenburn.css')
  
    //If the query includes 'print-pdf', use the PDF print sheet 
    script.
      if( window.location.search.match( /print-pdf/gi ) ) {
        var link = document.createElement( 'link' );
        link.rel = 'stylesheet';
        link.type = 'text/css';
        link.href = 'css/print/pdf.css';
        document.getElementsByTagName( 'head' )[0].appendChild( link );
      }

    //if lt IE 9
      script(src='lib/js/html5shiv.js')

  body
    .reveal
      .slides
        include jade/slides

    script(src='lib/js/head.min.js')
    script(src='js/reveal.min.js')

    script.
      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: true,
        progress: true,
        history: true,
        center: true,

        theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        //parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        //parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/gofigure/plugin.js', async: true, condition: function() { return true; } }
        ]
      });
    
      Reveal.addEventListener( 'gofigure-demo', function( event ) {
        setTimeout(function() {
          $('#figure').empty();
          
          //Add a drawing area to element with id 'figure', with the given width and height
          var figure = gofigure.create('figure', '980', '550'); 

          //Draw a box and animate drawing immediately
          figure.box(600, 50, 100, 200).animate();

          //Group two animations together and begin animation immediately
          figure.arrow(600, 150, 500, 150).centeredText(550, 167, "to").animate();

          //Create list of animations and bind them to keyboard arrow presses
          gofigureplugin.addStep('figure', figure.arrow(600, 150, 500, 150).centeredText(550, 167, "to"));
          gofigureplugin.addStep('figure', figure.box(400, 50, 100, 200, { radius: 0 }).centeredText(450, 270, "Box with small text", {fontsize: 11}));
          gofigureplugin.addStep('figure', figure.arrow(400, 150, 300, 150, {arrowheads: "end" }).centeredText(350, 167, "single head arrow", {fontsize: 11}));
          gofigureplugin.addStep('figure', figure.centeredText(250, 270, "Slowly drawn box").box(200, 50, 100, 200, {duration: 5000, radius: 25 }));
        }, 1000);
      }, false);